.vBox1
{
    width: 60%;
    max-width: 700px;
    min-width: 700px;
    border: 0.5px solid rgba(185, 247, 162, 0.553);
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgba(95, 13, 13, 0.267); 
}
.customFioriHeader .sapMPageHeader
{
    background-color: #003B73 !important;
    color: white !important;
    border-bottom: 1px solid #354a5f;
    height: 48px !important;
    padding: 6px 16px !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
}
.customFioriHeader .sapMTitle
{
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
    font-size: 1.25rem !important;  
    text-align: center !important;
    margin-top: -25px !important;
}
 
.uploadCard
{
    background: #f8fdfeaa;
    width: 750px;
    height:200px;
    padding: 25px;
    border: 1px solid #100e0e;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(54, 41, 41, 0.1);
}
.projectHeading
{
    font-size: 22px;
    font-weight: bold;
    color: #504a4a;
    margin-bottom: -5rem;
}
.sapMRbBLabel {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sapMRbG {
    width: 100% !important;
    min-height: 6rem;
}
.sapUiFormResGrid {
    width: 100% !important;
}
.sapMRbB {
    height: 2rem !important;
    line-height: 2rem !important;
}